@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?3vuy2a');
    src:    url('../fonts/icomoon/icomoon.eot?3vuy2a#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?3vuy2a') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?3vuy2a') format('woff'),
        url('../fonts/icomoon/icomoon.svg?3vuy2a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
    content: "\e900";
}
.icon-registration:before {
    content: "\e901";
}
.icon-magaphone:before {
    content: "\e902";
}
.icon-request:before {
    content: "\e903";
}
.icon-chart:before {
    content: "\e904";
}
.icon-new_areas:before {
    content: "\e905";
}
.icon-tasks:before {
    content: "\e906";
}
.icon-money:before {
    content: "\e907";
}
.icon-instagram:before {
    content: "\e908";
}
.icon-facebook:before {
    content: "\e909";
}
.icon-twitter:before {
    content: "\e90a";
}
.icon-youtube:before {
    content: "\e90b";
}

