*::-webkit-input-placeholder {
	color: #a8a8a8;
	opacity: 1;
}
*:-moz-placeholder {
	color: #a8a8a8;
	opacity: 1;
}
*::-moz-placeholder {
	color: #a8a8a8;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #a8a8a8;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
html, body {
	height: 100%;
}
body {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1;
}
.container-main {
	width: 884px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
.clearfix:after {
	content: "";
	display: block;
	float: none;
	clear: both;
	height: 0;
	visibility: hidden;
}
.btn {
	width: 149px;
	display: inline-block;
	background-color: #164cc0;
	color: #fff;
	line-height: 43px;
	font-size: 17px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
}
.btn:hover {
	background-color: #1c53c9;
}
.btn-light {
	background-color: #2184ff;
}
.btn-light:hover {
	background-color: #2e8bff;
}
.btn-light2 {
	background-color: #315bb7;
}
.btn-light2:hover {
	background-color: #3464cd;
}
.btn.blue {
	background-color: #90c2ff;
}
.header {}
.header .header-top {
	color: #90c2ff;
	background-color: #262727;
	padding: 13px 0;
}
.header .header-top .logo {
	float: left;
	font-size: 30px;
	font-weight: 400;
}
.header .header-top .header-top-nav {
	float: right;
	margin: 0;
	padding: 0;
}
.header .header-top .header-top-nav li {
	float: left;
	list-style: none;
	padding-left: 18px;
	padding-right: 18px;
	line-height: 34px;
}
.header .header-top .header-top-nav li:first-child {
	padding-left: 0;
	padding-right: 12px;
}
.header .header-top .header-top-nav li:last-child {
	padding-right: 0;
}
.header .header-top .header-top-nav li.bordered {
	border-left: 1px solid #393a3a;
}
.header .header-top .header-top-nav li a.lnk {
	color: #90c2ff;
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	text-decoration: none;
}
.header .header-top .header-top-nav li a.lnk .icon {
	margin-right: 10px;
	position: relative;
}
.header .header-top .header-top-nav li a.lnk .icon.icon-login {
	font-size: 20px;
	top: 3px;
}
.header .header-top .header-top-nav li a.lnk .icon.icon-registration {
	font-size: 19px;
	top: 2px;
}
.header .header-top .header-top-nav li a.lnk:hover {
	color: #689dde;
}
.header .firstscreen {
	height: 377px;
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}
.header .firstscreen_logo {
	color: #0e3b9d;
	font-size: 76px;
	font-weight: 500;
	padding: 62px 0 28px;
}
.header .firstscreen_slogan {
	color: #315bb7;
	font-size: 25px;
	margin-bottom: 36px;
}
.header .firstscreen .btn-light {
	margin-left: 15px;
}
.section__title {
	background-color: #f7f7f7;
	color: #315bb7;
	font-weight: 600;
	font-size: 28px;
	line-height: 75px;
	text-align: center;
}
.section__body {
	padding: 45px 0 36px;
}
.section__body .col3 {
	width: 33.333333%;
	float: left;
	text-align: center;
	box-sizing: border-box;
}
.section__body .col3.borders {
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}
.section__body .col3 .icon {
	display: inline-block;
	line-height: 50px;
	color: #8d8d8d;
}
.section__body .col3 .icon.icon-magaphone {
	font-size: 78px;
}
.section__body .col3 .icon.icon-request {
	font-size: 63px;
}
.section__body .col3 .icon.icon-chart {
	font-size: 52px;
}
.section__body .col3 .icon.icon-new_areas {
	font-size: 61px;
}
.section__body .col3 .icon.icon-tasks {
	font-size: 50px;
}
.section__body .col3 .icon.icon-money {
	font-size: 50px;
}
.section__body .col3 .text {
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	margin-top: 22px;
}
.section__body .col2 {
	float: left;
	width: 42%;
	box-sizing: border-box;
}
.section__body .col2-separator {
	float: left;
	width: 16%;
	padding-top: 30px;
}
.section__body .col2-separator .vline {
	width: 1px;
	margin: 0 auto;
	background-color: #e9e9e9;
	height: 90px;
}
.section__body .col2 .help_title {
	font-weight: 500;
	font-size: 17px;
	color: #224f9d;
	margin-bottom: 15px;
}
.section__body .col2 .faq {
	margin: 0;
	padding: 0;
}
.section__body .col2 .faq > li {
	list-style: none;
	position: relative;
	margin-bottom: 15px;
	left: 17px;
}
.section__body .col2 .faq > li:last-child {
	margin-bottom: 0;
}
.section__body .col2 .faq > li:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background-color: #495d92;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	left: -17px;
	margin-top: 4px;
}
.section__body .col2 .faq > li .question {
	display: inline-block;
	color: #224f9d;
	cursor: pointer;
	border-bottom: 1px dashed #6f8ec4;
	padding-bottom: 2px;
}
.section__body .col2 .faq > li .answer {
	display: none;
	color: #676767;
	background-color: #f1f0f0;
	padding: 10px;
	font-size: 12px;
	line-height: 15px;
	margin-top: 6px;
}

.btn-helpmore {
	display: block;
	margin: 40px auto 14px;
}

footer {
	background-color: #262727;
	color: #d3d3d3;
	font-size: 13px;
	font-weight: 400;
	padding: 20px 0 16px;
}
footer .contacts {
	float: left;
}
footer .contacts .textrow {
	font-size: 13px;
	margin-bottom: 12px;
}
footer .contacts .textrow:last-child {
	margin-bottom: 0;
}
footer .contacts .textrow span {
	font-size: 15px;
	color: #90c2ff;
}
footer .social {
	float: right;
	text-align: right;
}
footer .social .social-text {
	color: #90c2ff;
	font-size: 15px;
	margin-bottom: 19px;
}
footer .social a {
	font-size: 20px;
	line-height: 20px;
	color: #90c2ff;
	text-decoration: none;
	margin-right: 16px;
}
footer .social a:last-child {
	margin-right: 0;
}

.popup {
	display: none;
	padding: 21px 20px;
	position: relative;
	z-index: 500;
}
.popup .form-title {
	color: #2c68ae;
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 20px;
}
.popup input {
	width: 247px;
	display: block;
	border: 1px solid #e6e6e6;
	color: #a8a8a8;
	font-size: 12px;
	font-weight: 400;
	padding: 10px;
	margin-bottom: 13px;
	box-sizing: border-box;
	outline: none;
}
.popup a.resetpass {
	display: block;
	color: #a8a8a8;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 19px;
	text-decoration: none;
}
.popup a.resetpass:hover {
	text-decoration: underline;
}
.popup .socials {
	margin-bottom: 18px;
}
.popup .socials a {
	font-size: 17px;
	line-height: 17px;
	color: #7fb9ff;
	text-decoration: none;
	margin-right: 9px;
}
.popup .socials a:last-child {
	margin-right: 0;
}
.popup .socials a.facebook {}
.popup .socials a.vk {}
.popup .socials a.twitter {
	font-size: 18px;
}
.popup .btn-submit-popup {
	width: auto;
	background-color: #7fb9ff;
	padding: 0 19px;
	font-size: 14px;
	font-weight: 400;
	line-height: 34px;
}
.popup .form-message {
	display: none;
	color: #7fb9ff;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 16px;
}
.popup .form-message.error {
	color: #ff7f7f;
}

/* -------------------------------------- not main page (begin) -------------------------------------- */
.container {
	height: 100%;
	min-width: 1000px;
	max-width: 2000px;
	overflow: hidden;
	position: relative;
}
.content {
	padding: 6px;
	background-color: #efefef;
	margin: 0 0 0 245px;
	height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.content.move {
	margin: 0 245px 0 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.content__tabs {
	margin: 0 0 11px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d5dced;
	background-color: #f9f9f9;
	height: 55px;
}
.content__tabs__ul {
	margin: 0;
	padding: 0;
	float: left;
}
.content__tabs__ul > li {
	list-style: none;
	float: left;
	border-right: 1px solid #efefef;
}
.content__tabs__ul__lnk {
	display: block;
	padding: 20px 23px;
	background-color: #f9f9f9;
	font-size: 15px;
	color: #616161;
	text-decoration: none;
}
.content__tabs__ul > li.active .content__tabs__ul__lnk {
	background-color: #fff;
}
.content__tabs__ul__lnk__count {
	color: #8d8d8d;
	font-size: 11px;
	font-weight: 400;
	margin-left: 5px;
}
.content__tabs__btn {
	float: right;
	margin-right: 10px;
	padding: 10px 0;
	height: 100%;
}
.content__tabs__btn a {
	width: auto;
	font-size: 15px;
	line-height: 34px;
	padding: 0 18px;
}
.content__sort {
	padding: 13px 16px 11px;
	background-color: #fff;
	color: #727272;
	font-size: 12px;
}
.content__sort__item {
	display: inline-block;
	margin-right: 25px;
}
.content__sort__item__label {
	display: inline-block;
	margin-right: 5px;
}
.content__sort__item__select {
	display: inline-block;
	position: relative;
}
.content__sort__item__select select {
	border: 1px solid #f3f3f3;
	padding: 1px;
	z-index: 100;
}
.content__sort__item__select .icon  {
	display: inline-block;
	width: 8px;
	height: 8px;
	font-size: 8px;
	color: #315bb7;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -4px;
}
.customSelect { 
	border: 1px solid #f3f3f3;
	padding: 3px;
}
.content__sort__item__btn-lnk {
	border: 1px solid #f3f3f3;
	font-size: 13px;
	color: #315bb7;
	width: 25px;
	height: 20px;
	padding: 2px 5px 1px;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
}
.content__body {
	padding-top: 6px;
}
.content__body__areaitem {
	margin-bottom: 6px;
	background-color: #fff;
	border-bottom: 1px solid #d3dbed;
	padding: 16px 20px 16px 16px;
	position: relative;
}
.content__body__areaitem__photo {
	float: left;
	min-width: 66px;
	height: 60px;
	margin-right: 13px;
}
.content__body__areaitem__photo img {
	width: 100%;
	height: auto;
}
.content__body__areaitem__info {
	float: left;
}
.content__body__areaitem__info__main {}
.content__body__areaitem__info__main__left {
	float: left;
	width: 30%;
}
.content__body__areaitem__info__main__middle {
	float: left;
	position: absolute;
	left: 35%;
}
.content__body__areaitem__info__main__right {
	float: right;
}
.content__body__areaitem__info__descr {
	color: #727272;
	font-size: 13px;
	font-weight: 400;
}
.content__body__areaitem.youtube-brand {}
.content__body__areaitem.youtube-preroll {}
.content__body__areaitem.youtube-textlink {}
.content__body__areaitem.ok {}
.content__body__areaitem.instagram {}
.content__body__areaitem.facebook {}
.content__body__areaitem.twitter {}
.content__body__areaitem.vk {}
.content__body__areaitem.googleplus {}
.pagination {
	margin-top: 16px;
}
.pagination__lnk {
	color: #5473b7;
	font-size: 14px;
	font-weight: 400;
	background-color: #fff;
	padding: 8px 6px 7px;
	text-decoration: none;
	width: 17px;
	display: inline-block;
	text-align: center;
}
.pagination__lnk:hover {
	color: #90c2ff;
}
.pagination__lnk.active {
	background-color: #90c2ff;
	color: #fff;
}
.sidebarleft {
	height: 100%;
	width: 245px;
	background-color: #262727;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: #899098;
}
.sidebarleft.move {
	left: -245px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebarleft__header {
	padding: 22px 7px 20px 16px;
	border-bottom: 1px solid #393a3a;
	position: relative;
}
.sidebarleft__header__logo {
	float: left;
	color: #90c2ff;
	font-size: 20px;
	font-weight: 400;
}
.sidebarleft__header__controls {
	float: right;
}
.sidebarleft__header__controls__item {
	float: left;
	height: 16px;
	cursor: pointer;
	padding: 1px 9px;
	z-index: 110;
}
.sidebarleft__header__controls__item:nth-child(2) {
	border-right: 1px solid #393a3a;
	border-left: 1px solid #393a3a;
}
.sidebarleft__header__controls__item:hover,
.sidebarleft__header__controls__item.active {
	color: #5d6062;
}
.sidebarleft__header__controls__item .icon-message {
	display: inline-block;
	font-size: 18px;
	line-height: 12px;
	margin-top: 2px;
}
.sidebarleft__header__controls__item .icon-help {
	font-size: 13px;
	display: inline-block;
	margin-top: 1px;
}
.sidebarleft__header__controls__item .icon-settings {
	font-size: 16px;
}
.sidebarleft__header__controls__item__inner {
	display: none;
	position: absolute;
	right: 0;
	left: 0;
	top: 63px;
	width: 245px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(4, 4, 4, 0.21);
	-moz-box-shadow:    0px 3px 3px 0px rgba(4, 4, 4, 0.21);
	box-shadow:         0px 3px 3px 0px rgba(4, 4, 4, 0.21);
	z-index: 110;
}
.sidebarleft__header__controls__item.active .sidebarleft__header__controls__item__inner {
	display: block;
}
.sidebarleft__header__controls__item__inner a {
	display: block;
	background-color: #262727;
	font-size: 13px;
	font-weight: 400;
	color: #899098;
	border-bottom: 1px solid #2c2c2c;
	text-align: right;
	padding: 12px 15px 11px;
	text-decoration: none;
}
.sidebarleft__header__controls__item__inner a:last-child {
	border-bottom: none;
}
.sidebarleft__header__controls__item__inner a:hover {
	color: #5d6062;
}
.sidebarleft__user {
	padding: 21px 17px 22px;
}
.sidebarleft__user__avatar {
	float: left;
	width: 74px;
	height: 74px;
	-webkit-border-radius: 37px;
	-moz-border-radius: 37px;
	border-radius: 37px;
	overflow: hidden;
	margin-right: 20px;
}
.sidebarleft__user__avatar img {
	width: 74px;
	height: 74px;
}
.sidebarleft__user__info {
	float: left;
	font-size: 13px;
	font-weight: 400;
}
.sidebarleft__user__info__role {
	font-size: 14px;
}
.sidebarleft__user__info__row {
	display: block;
	text-decoration: none;
	color: #899098;
	margin-top: 7px;
}
.sidebarleft__user__info__row i {
	display: inline-block;
	width: 16px;
	margin-right: 5px;
}
.sidebarleft__user__info__row i.icon-online {
	color: #759bc9;
	font-size: 8px;
	line-height: 8px;
}
.sidebarleft__user__info__row i.icon-online.offline {
	color: #9b9b9b;
}
.sidebarleft__user__info__row i.icon-balance {
	font-size: 12px;
}
.sidebarleft__user__info__row i.icon-balance-earned {
	font-size: 16px;
	line-height: 12px;
}
.sidebarleft__user__info__row.hover:hover {
	color: #5d6062;
}
.sidebarleft__nav {
	margin: 0;
	padding: 0;
}
.sidebarleft__nav > li {
	border-top: 1px solid #393a3a;
}
.sidebarleft__nav__a {
	display: inline-block;
	padding: 18px 16px 19px 16px;
	color: #899098;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
}
.sidebarleft__nav__a:hover {
	color: #5d6062;
}
.sidebarleft__nav__a i {
	display: inline-block;
	width: 18px;
	margin-right: 11px;
}
.sidebarleft__nav__a i.icon-campaign {
	font-size: 18px;
}
.sidebarleft__nav__a i.icon-playground {
	font-size: 13px;
}
.sidebarleft__nav__a i.icon-tasks {
	font-size: 14px;
}
.sidebarleft__nav__a i.icon-favorite-bold {
	font-size: 15px;
}
.sidebarleft__nav__a i.icon-news {
	font-size: 15px;
}
.sidebarleft__nav__a i.icon-partners {
	font-size: 18px;
}
.sidebarleft__nav__a__text {
	display: inline-block;
	width: 154px;
}
.sidebarleft__nav__a__count {
	margin-left: 11px;
}
.sidebarleft__social {
	padding: 16px 6px;
}
.sidebarleft__social__a {
	height: 21px;
	padding: 0 10px;
	float: left;
	color: #899098;
	text-decoration: none;
	border-right: 1px solid #393a3a;
}
.sidebarleft__social__a:hover {
	color: #5d6062;
}
.sidebarleft__social__a:last-child {
	border-right: none;
}
.sidebarleft__social__a i {
	display: block;
}
.sidebarleft__social__a .icon-instagram {
	font-size: 16px;
	margin-top: 2px;
}
.sidebarleft__social__a .icon-facebook {
	font-size: 16px;
	margin-top: 2px;
}
.sidebarleft__social__a .icon-twitter {
	font-size: 19px;
	margin-top: 1px;
}
.sidebarleft__social__a .icon-youtube {
	font-size: 18px;
	margin-top: 1px;
}
.sidebarright {
	width: 245px;
	height: 100%;
	background-color: #262727;
	position: absolute;
	top: 0;
	right: -245px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebarright.move {
	right: 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/* -------------------------------------- not main page (end) -------------------------------------- */




/* -------------------------------------- Bootstrap: tooltip.js v3.3.6 (begin) -------------------------------------- */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #90c2ff;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #90c2ff;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #90c2ff;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #90c2ff;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #90c2ff;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #90c2ff;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #90c2ff;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #90c2ff;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #90c2ff;
}
/* -------------------------------------- Bootstrap: tooltip.js v3.3.6 (end) -------------------------------------- */